<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DJGRAMM</title>
    <link type="text/css" href="{% static 'djapp/css/styles.css' %}" rel="stylesheet"/>

</head>

<body class="container">
<ul class="list-group">
    <li class="list-group-item">
        User: {{ request.user }}
    </li>
    {% if request.user.is_authenticated %}
    <li class="list-group-item">
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'profile' request.user.username %}">my Profile</a> |
        <a href="{% url 'add_post' %}">Add post</a>
    </li>
    {% else %}
    <li class="list-group-item">
        <a href="{% url 'home' %}">Home</a>
    </li>
    {% endif %}
</ul>
{% block content %}
{% endblock %}

</body>
</html>