{% extends 'djapp/base.html' %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </li>
</ul>
<hr>
<h1>WELCOME to DJGRAMM</h1>
<h2>Site for your memory photo</h2>
<hr>

<div class="container">
    <div class="col-sm-7">
        <table class="table table-bordered" style="">
            <tr>
                <td>
                    {{ post.datetime }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ post.user.username }}
                </td>
            </tr>
            <tr>
                <td>
                    {{ post.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{post.liked.all.count}} likes</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>TAGS:</strong>
                            {% for tag in post.tags.all %}
                            <a href="{% url 'tag_post' tag.id %}">{{tag.tag}}</a> |
                            {% endfor %}
                        </li>
                    </ul>
                </td>
            </tr>
            <td>
                <div class="col-sm-8">

                    {% for i in images %}
                    <img src="{{ i.photo.url }}" width="120">
                    {% endfor %}

                </div>
            </td>
            </tr>
        </table>
    </div>


</div>
<hr>

{% endblock %}